@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 91.25em;
    padding: 0 5em;
    margin: auto;
}
/*..navbar...início*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.875em 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: #66306b;
    padding: .9375em 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #ffffff;
    font-size: 2.1875em;
    font-weight: 500;
}
.navbar .logo a span{
    color: #66306b;
    transition: color 0.3s ease;
    font-weight: 800;
}
.navbar.sticky .logo a span{
    color: #ffffff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar.menu.active{
    left: 0;
}
.navbar .menu li a{
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 500;
    margin-left: 1.5625em;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #66306b;
    font-weight: 600;
    transition: color 0.3s ease;
}
.navbar.sticky .menu li a:hover{
    color: #bbb9b9;
}
/* Language - Linguagem */
/* .language {
    position: relative;
    width: 7.5em;
    margin-left: 2.5em;
    font-weight: bold;
}
.language-selected {
    display: flex;   
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.language-selected:before {
    content: '';
    display: inline-block;
    width: 1.875em;
    height: 1.875em;
    background-image: url(https://www.countryflags.io/br/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.625em;
}

.language-selected.change-br:before {
    background-image: url(https://www.countryflags.io/br/flat/32.png);
}
.language-selected.change-en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.language-selected.change-es:before {
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.language ul {
    position: absolute;
    width: 8.75em;
    background-color: #111;
    border: 1px solid #111;
    padding-top: 0.625em;
    box-shadow: 0em 0.0625em 0.625em rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #fff;
    padding: 0.3125em 0.625em;
}

.language ul li:hover {
    background-color: #66306b;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 1.5625em;
    height: 1.5625em;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0.625em;
}

a.br:before {
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
}

a.en:before {
    background-image: url(https://www.worldometers.info/img/flags/us-flag.gif);
}
a.es:before {
    background-image: url(https://www.worldometers.info/img/flags/sp-flag.gif);
}

.language:hover ul {
    display: block;
} */

/* Home Inicio */
.home{
    display: flex;
    background: url(img/header.png) no-repeat center;
    height: 100vh;
    color: #ffffff;
    min-height: 31.25em;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 2.5em;
}
.home .home-content .text1{
    font-size: 1.6875em;
}
.home .home-content .text2{
    font-size: 4.6875em;
    font-weight: 500;
    margin-left: -0.1875em;
}
.home .home-content .text3{
    font-size: 2.5em;
    margin: 0.3125em 0;
}
.home .home-content .text3 span{
    color: #66306b;
    font-weight: 800;
}
.home .home-content a{
    display: inline-block;
    background: #66306b;
    color: #ffffff;
    font-size: 1.5625em;
    padding: 0.75em 2.25em;
    margin-top: 1.25em;
    border-radius: 0.375em;
    border: 0.125em solid #66306b;
}
.home .home-content a:hover{
    color: #66306b;
    background: none;
}
/* Menu Mobile */
.menu-btn{
    color: #ffffff;
    font-size: 1.4375em;
    cursor: pointer;
    display: none;
}

/* Todos so códigos similares - All similar codes */
section{
    padding: 100px 0;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #111;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #66306b;
    background: #ffffff;
    padding:5px;
    transform: translateX(-50%);
}
.about,
.services,
.skills,
.projects,
.contact{
    font-family: 'Ubuntu', sans-serif;
}
.about .about-content, 
.services .services-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* sessão: 'sobre' / section: 'about' */
.about .title::after{
    content: "Quem sou eu";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #66306b;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #66306b;
    color: #fff;
    font-size:20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #66306b;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #66306b;
    background: none;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

/* Sessão: "Serviços" - Section: "Services */
.services, .projects{
    background: #111;
    color: #fff;
}
.services h2,
.projects h2{
    font-weight: 500;
    color: #fff;
}
.services .title::before,
.projects .title::before{
    background: #fff;
}
.services .title::after{
    background: #111;
    font-weight: 600;
    content: "Que ofereço";
}
.services .services-content .card{
    width: calc(33% - 10%);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .services-content .card:hover{
    background: #66306b;
}
.services .services-content .card .box{
    transition: all 0.3s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card ion-icon{
    font-size: 50px;
    color: #66306b;
    transition: all 0.3s ease;
}
.services .services-content .card:hover ion-icon{
    color: #fff;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10 0 7px 0 ;
}
/* Sessão/Section: Especialidades/Specialties */
.skills .title::after{
    content: "O que eu sei";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #66306b;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #66306b;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #66306b;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #66306b;
}
.skills .skills-content .right .html::before{
    width: 78%;
}
.skills .skills-content .right .css::before{
    width: 82%;
}
.skills .skills-content .right .js::before{
    width: 74%;
}
.skills .skills-content .right .react::before{
    width: 45%;
}
.skills .skills-content .right .mysql::before{
    width: 61%;
}
.skills .skills-content .right .ps::before{
    width: 91%;
}

/* Sessão/Section: Projetos/Projects */

.projects .title::after{
    content: "Que desenvolvi";
    background-color: #111;
}
.projects .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover{
    background: #66306b;
}
.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    text-decoration: none;
}
.projects .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 90px;
    border: 5px solid #66306b;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover img{
    border-color: #fff;
}
.projects .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.projects .carousel .card .box button{
    font-size: 20px;
    background: #66306b;
    color: #fff;
    font-size:20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #222;
    transition: all 0.3s ease;
}
.projects .carousel .card .box button:hover{
    background: #2d162f;
}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}
/* Dots under section Projects / Dots abaixo da sessão Projetos */
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #66306b!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #66306b!important;
}

/* Section/Sessão: Contact/Contato */
.contact .title::after{
    content: "Fale comigo";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.row .info a{
    text-decoration: none;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row .info .head{
    font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
    color: #333;
}
.contact .contact-content .row ion-icon{
    font-size: 25px;
    color: #66306b;
}
.contact .contact-content .row .wpp{
    color: green;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields .field,
.contact .right form .field{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .textarea{
    width: 100%;
    height: 80px;
}
.button-area{
    display: flex;
    align-items: center;
}
.button-area button{
    color: #fff;
    display: block;
    width: 160px!important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #66306b;
    border: 2px solid #66306b;
    transition: all 0.3s ease;
    margin-top: 30px;
}
.button-area button:hover{
    color: #66306b;
    background: none;
}

/* Section/Sessão: Footer */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
footer span a{
    color: #66306b;
    text-decoration: none;
    font-weight: 600;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsividade - responsiveness */
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
    .services .services-content .card{
        width: calc(35% - 10%);
        margin-bottom: 20px;
    }
    
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
    .services .services-content .card{
        width: calc(41% - 10%);
        margin-bottom: 20px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding:0 50px;
    }
    .services .services-content .card{
        width: calc(40% - 10%);
        margin-bottom: 20px;
    }
}
@media (max-width:947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    #modal2{
        transform: rotate(45deg);
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-flex;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text2{
        font-size: 70px;
    }
    .home .home-content .text3{
        font-size: 35px;  
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(58.5% - 10%);
        margin-bottom: 20px;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width:690px){
    .home .home-content .text2{
        font-size: 60px;
    }
    .home .home-content .text3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 10px 30px;
    }
    .services .services-content .card{
        width: 100%;
    }
    
}
@media (max-width:500px){
    .home .home-content .text2{
        font-size: 50px;
    }
    .home .home-content .text3{
        font-size: 27px;
    }
    .services .services-content{
        justify-content: center;
        align-items: center;
    }

    .contact .fields{
        width: 100%;
        margin: 0;
        flex-direction: column;
    }
    .contact .field{
        width: 100%;
        margin: 0;
        flex-direction: column;
    }
    .contact .contact-content .column{
        display: flex;
        flex-direction: column;
        width: 100%;
    } 
    
    
    
    
    
}
@media (max-width:400px){
    .about .title::after{
        font-size: 18px;
    }
    .services .title::after{
        font-size: 18px;
    }
    .skills .title::after{
        font-size: 18px;
    }
    .projects .title::after{
        font-size: 16px;
    }
    .contact .title::after{
        font-size: 18px;
    }
    
}
